name: Pre Commit

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  pre-commit:
    name: Pre Commit

    if: ${{ github.actor != 'dependabot[bot]' }}

    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: 3.13

      - name: Lint
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd
