name: Remark

on:
  pull_request:
    branches:
      - main
    paths:
      - '**/*.md'
  push:
    branches:
      - main
    paths:
      - '**/*.md'

permissions:
  contents: read

jobs:
  remark:
    name: Remark

    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Set Up Bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76

      - name: Install Dependencies
        run: bun i

      - name: Lint
        run: bun remark . --quiet --frail
